<div class="side-bar-container">
  <!-- Header Section -->
  <div class="header">
    <button class="logout-btn" (click)="logout()">Logout</button>
    <div class="search-bar">
      <input 
        type="text" 
        placeholder="Search Contacts" 
        [(ngModel)]="searchQuery" 
        (input)="filterContacts()" 
      />
    </div>
  </div>

  <!-- Contacts List -->
  <div class="contacts">
    <!-- Display message if no contacts exist -->
    <div *ngIf="filteredContacts.length === 0" class="no-contacts">
      No contacts found. Please search for contacts.
    </div>

    <!-- Display contacts if they exist -->
    <a *ngFor="let contact of filteredContacts" [routerLink]="'/chat'" [queryParams]="{ id: contact.user_id }">
      <div class="contact">
        <div class="profile-picture">
          <img [src]="contact.profile_picture" alt="{{ contact.username }}" />
        </div>        
        <div class="name">{{ contact.username }}</div>
      </div>
    </a>
    <!-- Display groups if they exist -->
    <a *ngFor="let group of filteredGroups" [routerLink]="'/group'" [queryParams]="{ id: group.group_id }">
      <div class="group">
        <div class="profile-picture">
          <img [src]="" alt="{{ group.group_name }}" />
        </div>
        <div class="name">{{ group.group_name }}</div>
      </div>
    </a>
  </div>


  <div class="new-contact">
    <button class="plus-btn" (click)="toggleMenu()">+</button>
    <div class="dropdown-menu" *ngIf="showMenu" (mouseleave)="showMenu = false">
      <button routerLink="/new-chat">New Chat</button>
      <button routerLink="/new-group">Create a Group</button>
    </div>
  </div>
</div>
